<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Packvorgang Ihres Webprojekts verwendet. Sie können das Verhalten dieses Vorgangs anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Besuchen Sie "http://go.microsoft.com/fwlink/?LinkID=208121", um weitere Informationen zu erhalten. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://streamworker-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>streamworker-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>streamworker-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$streamworker-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StreamWorker.Data.DataContext.StreamWorkerDataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User ID=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z" Name="Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User Id=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StreamWorker.Data.DataContext.StreamWorkerDataContext, StreamWorker.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User ID=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z" Name="Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User Id=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StreamWorker-20170220054423.mdf;Initial Catalog=aspnet-StreamWorker-20170220054423;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StreamWorker-20170220054423.mdf;Initial Catalog=aspnet-StreamWorker-20170220054423;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User Id=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StreamWorker.Data.DataContext.StreamWorkerDataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:streamworker.database.windows.net,1433;Initial Catalog=streamworker;User Id=Entwicklungsbenutzer@streamworker;Password=g3yhH#\Z</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="StreamWorker.Data.DataContext.StreamWorkerDataContext" />
  </ItemGroup>
</Project>